{% extends 'index.html' %}
{% block title %}
<title>CRUD | About</title>
{% endblock %}

{% block data %}

<div class="container-fluid w-100 my-3">
    <div class="w-75 m-auto mid-section">
        <h5 class="text-light bg-dark text-center p-1"><span style="color: blueviolet; border-bottom: 2px solid blueviolet;">Edit</span> Employee Record</h5>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>Name</label>
                <input type="text" name="name" placeholder="Full Name" class="form-control" value="{{data.name}}" required>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control" value="{{data.email}}" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label>Phone</label>
                    <input type="text" name="phone" placeholder="Phone" class="form-control" value="{{data.phone}}" required maxlength="11">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label>Designation</label>
                    <input type="text" name="dsg" placeholder="Designation" class="form-control" value="{{data.dsg}}" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label>Salary</label>
                    <input type="number" name="salary" placeholder="salary" class="form-control" value="{{data.salary}}" required>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label>City</label>
                    <input type="text" name="city" placeholder="city" class="form-control" value="{{data.city}}">
                </div>
                <div class="mb-3 col-md-6">
                    <label>State</label>
                    <input type="text" name="state" placeholder="state" class="form-control" value="{{data.state}}">
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark w-100 text-light">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}